<section class="bg-light rounded">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Question view component</h1>
            </div>
        </div>
    </div>

    <div *ngIf="this.selectedQuestion!==null" class="container"
        [ngClass]="selectedQuestion.enabled ? 'border-success' : 'border-danger'">
        <div class="row">
            <div class="col">
                <p><span>Id:</span> {{selectedQuestion.id}}</p>

                <pre><span>Question:</span> {{selectedQuestion.question}}</pre>

                <pre><span>Hint:</span> {{selectedQuestion.hint}}</pre>

                <pre><span>Explanation:</span> {{selectedQuestion.explanation}}</pre>

                <p><span>Enabled:</span> {{selectedQuestion.enabled}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Choices:</p>
                <ul>
                    <li *ngFor="let choice of selectedQuestion.choices" title="{{choice.explanation}}">
                        {{choice.content}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Tags:</p>
                <ul>
                    <li *ngFor="let choice of selectedQuestion.tags">{{choice.title}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-success m-2" (click)="enableQuestion()">Enable</button>
                <button class="btn btn-danger m-2" (click)="disableQuestion()">Disable</button>
            </div>
            <!-- <div class="col text-center">
                <button disabled class="btn btn-primary m-2" (click)="editQuestion()">Edit</button>
            </div> -->
        </div>
    </div>

</section>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary m-2 w-100" (click)="getQuestions()">Back to review questions</button>
        </div>
    </div>
</div>