<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-danger text-center border-primary" id="clock"></h1>
            <p class="text-center"><span class="text-danger text-center border-primary" id="elapsed"></span></p>
            <div *ngIf="checkLoggedInUserRole()==='instructor'" class="container">
                <button *ngIf="this.interval===null" class="btn btn-warning m-2 w-100" (click)="startClock()">Start
                    Clock</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="checkLoggedInUserRole()==='student'" class="container">

    <!-- <h3 class="text-center text-success">Break Time Question : Quiz Id: ( {{this?.selectedQuizId}} )</h3> -->

    <div class="container" *ngIf="isFound===true">
        <!-- <h3>Quiz Id: ( {{this?.selectedQuizId}} ), Quiz Title: {{this.selectedQuiz?.title}}</h3> -->
        <p>Quiz Id : <span>{{this?.selectedQuizId}}</span> : {{this.selectedQuiz?.title}}</p>
        <hr>
        <div *ngIf="this.quizQuestions.length > 0" class="container">
            <div *ngFor="let question of quizQuestions" class="row">
                <div class="col">
                    <p>Question:</p>
                    <pre>{{question.question?.question}}</pre>
                    <hr>
                    <pre *ngIf="this.hasAnswered" class="bg-light"><span>Hint:</span>{{question.question?.hint}}</pre>
                    <hr>
                    <pre *ngIf="this.hasAnswered"
                        class="bg-light"><span>Explanation:</span>{{question.question?.explanation}}</pre>
                    <!-- <p>Tags:{{question.question?.tags | json}}</p> -->
                    <span>Choices</span>
                    <!-- <p>Choices:{{question.question?.choices| json}}</p> -->
                    <div *ngFor="let choice of question.question?.choices || []" class="row border-primary">
                        <div class="col">
                            <div class="row">
                                <div *ngIf="this.hasAnswered" class="col">
                                    <p [ngClass]="choice?.correct ? 'text-success' : 'text-danger'">{{choice?.content}}
                                    </p>
                                </div>
                                <div *ngIf="!this.hasAnswered" class="col"
                                    title="{{this.quizQuestions.length > 1 ? choice?.correct : ''}}">
                                    <p>{{choice?.content}}</p>
                                </div>
                                <!-- <div *ngIf="this.hasAnswered" class="col">
                                    <p>Explanation:{{choice?.explanation}}</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <form *ngIf="(this.question.question!==null && !this.hasAnswered)"
                        (ngSubmit)="submitAnswer(question)">
                        <!-- {{question | json}} -->
                        <div class="row" *ngIf="this.quizQuestions.length === 1">
                            <div class="col">
                                <label for="answer">Choose one answer from below:</label>
                                <select name="answer" id="answer" class="form-control" [(ngModel)]="this.selectedAnswer"
                                    required>
                                    <option selected [value]="0">Please choose an answer from the selection
                                        below.
                                    </option>
                                    <ng-container *ngFor="let choice of question.question?.choices || []">
                                        <option [value]="choice?.id">{{choice?.content}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <button *ngIf="this.quizQuestions.length === 1" type="submit"
                            class="btn btn-success mt-4">Submit Answer</button>
                    </form>
                </div>
                <!-- <div class="row">
                    <div class="col">
                        <h3>Tags</h3>
                        <div *ngFor="let tag of question.question?.tags || []" class="row">
                            <div class="col">
                                {{tag?.title}}
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>

</div>


<div *ngIf="checkLoggedInUserRole()==='instructor'" class="container">

    <!-- <h4 class="text-center text-primary">Break Time Question : Quiz Id: ( {{this?.selectedQuizId}} )</h4> -->

    <p>Quiz Id : <span>{{this?.selectedQuizId}}</span> : {{this.selectedQuiz?.title}}</p>
    <hr>
    <div class="container" *ngIf="isFound===true">
        <!-- <h3>Quiz Title: {{this.selectedQuiz?.title}}</h3> -->
        <div *ngIf="this.quizQuestions.length>0" class="container">
            <div *ngFor="let question of quizQuestions" class="row border">
                <div class="col">
                    <h1>Question: Id:{{question.question?.id}}</h1>
                    <pre>{{question.question?.question}}</pre>
                    <hr>
                    <pre *ngIf="this.showHints===true"
                        class="bg-light"><span>Hint: &nbsp; </span>{{question.question?.hint}}</pre>
                    <!-- <p>Tags:{{question.question?.tags | json}}</p> -->
                    <hr>
                    <span>Choices</span>
                    <!-- <p>Choices:{{question.question?.choices| json}}</p> -->
                    <div *ngFor="let choice of question.question?.choices || []" class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>{{choice?.content}}</p>
                                </div>
                                <div class="col">
                                    <p>{{ getAnswerCount(choice?.id || 0) }}</p>
                                </div>
                                <div *ngIf="this.showAnswers===true" id="explanation" class="col">
                                    <pre>Explanation:{{choice?.explanation}}</pre>
                                </div>
                                <div *ngIf="this.showAnswers===true" id="correct" class="col">
                                    <p [ngClass]="choice?.correct ? 'text-success' : 'text-danger'">Is correct choice?:
                                        {{choice?.correct}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre *ngIf="this.showAnswers===true"
                        class="bg-light"><span>Explanation: &nbsp; </span>{{question.question?.explanation}}</pre>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-primary m-2" (click)="showTheHints()">Show The Hints</button>
                            <button class="btn btn-primary m-2" (click)="hideTheHints()">Hide The Hints</button>
                            <button class="btn btn-primary m-2" (click)="showTheAnswers(true)">Show the Answers</button>
                            <button class="btn btn-primary m-2" (click)="showTheAnswers(false)">Hide the
                                Answers</button>
                        </div>
                    </div>
                    <!-- <h3>Tags</h3>
                    <div *ngFor="let tag of question.question?.tags || []" class="row">
                        <div class="col">
                            {{tag?.title}}
                        </div>
                    </div> -->
                    <div class="row d-none">
                        <div class="col">
                            <p>Enabled:{{question.question?.enabled}}</p>
                        </div>
                        <div class="col">
                            <p>Question Creator (User):{{question.question?.user?.username}}</p>
                        </div>
                        <div class="col">
                            <p>Created At:{{question.question?.createdAt | date: 'dd/MM/yyyy HH:MM:ss'}}</p>
                        </div>
                        <div class="col">
                            <p>Updated At:{{question.question?.updatedAt | date: 'dd/MM/yyyy HH:MM:ss'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- NOTE: The class d-none below -->
            <div class="col">
                <button class="btn btn-outline-warning m-2"
                    (click)="this.storeSelectedQuizIdInLocalStorage(this?.selectedQuizId||0)">Select
                    This Quiz</button>
                <button class="btn btn-outline-warning m-2" (click)="this.removeSelectedQuizIdFromLocalStorage()">Clear
                    Selected
                    Quiz</button>
            </div>


            <div class="col">
                <button class="btn btn-outline-primary m-2 w-100" (click)="getQuizAnswers()">Show The Quiz
                    Answers</button>
                <!-- {{ this.quizAnswers | json}} -->
                <div *ngIf="this.quizAnswers.length>0" class="container">
                    <div *ngFor="let answer of quizAnswers" class="row">
                        <!-- <div class="d-none col" *ngIf="answer?.id?.quizQuestionId === this?.selectedQuizId">
                            {{answer | json}}
                        </div> -->
                        <div class="col" *ngIf="answer?.id?.quizQuestionId === this?.selectedQuizId">
                            <p [ngClass]="answer?.choice?.correct ? 'text-success' : ''">Student: {{answer?.id?.userId}}
                            </p>
                        </div>
                        <div title="{{answer?.choice?.content}}" class="col"
                            *ngIf="answer?.id?.quizQuestionId === this?.selectedQuizId">
                            <p title="{{answer?.choice?.content}}" class="strike"
                                [ngClass]="answer?.choice?.correct ? 'text-success' : ''">
                                {{answer?.createdAt | date: 'MM/dd/yyyy HH:MM:ss'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="checkLoggedInUserRole()==='admin'" class="container">

    </div>

    <div class="container">

    </div>