<div *ngIf="!selected">
    <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Question</th>
        <th scope="col">Hint</th>
        <th scope="col">Explanation</th>
        <th scope="col">Updated At</th>
        <th scope="col">Created At</th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let question of questions">
        <td (click)="showQuestionDetail(question)">{{ question.id }}</td>
        <td (click)="showQuestionDetail(question)">{{ question.question }}</td>
        <td (click)="showQuestionDetail(question)">{{ question.hint }}</td>
        <td (click)="showQuestionDetail(question)">{{ question.explanation }}</td>
        <td (click)="showQuestionDetail(question)">{{ question.updatedAt }}</td>
        <td (click)="showQuestionDetail(question)">{{ question.createdAt }}</td>
      </tr>
    </tbody>
  </table>
  </div>