<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>Quizzes</h3>
        </div>
    </div>
</div>

<label class="bg-info shadow form-check-label" for="questionEnabledSearch">Filter for Enabled/Disabled :
    &nbsp;
    <input type="checkbox" class="shadow form-check-input" id="questionEnabledSearch" [(ngModel)]="this.isEnabled"
        name="questionEnabledSearch">
    <span class="" *ngIf="this.isEnabled === true"> &nbsp; ENABLED
        quizzes if any</span><span *ngIf="this.isEnabled !== true">
        &nbsp; DISABLED quizzes if any</span></label>

<table class="table table-border">
    <tr>
        <th>Quiz ID</th>
        <th>Quiz Title</th>
        <th>Is Enabled</th>
        <th>Question</th>
        <th>Question Tags</th>
    </tr>
    <tr *ngFor="let quiz of quizzes">
        <ng-container *ngIf="quiz.enabled === isEnabled">

            <td>{{quiz.id}}</td>
            <td>
                <p><a href='#/quizzes/{{quiz.id}}'>{{quiz.title}}</a></p>
            </td>
            <td>{{quiz.enabled}}</td>
            <td>
                <p *ngFor="let question of quiz?.quizQuestions">{{question?.question?.question}}</p>
            </td>
            <td>
                <span
                    *ngFor="let question of quiz?.quizQuestions">{{this.convertTagsToString(question?.question?.tags)}}
                </span>
            </td>

        </ng-container>
    </tr>
</table>